
QPushButton{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 20;
    height: 20;
    border-radius: 5px;
    background-color: #3498DB;
    color:#FFFFFF;
    padding:7px;
    }

QLabel{
    font-family: 'Lato', sans-serif;
    font-size:14px;
    }

QLineEdit{
        border-radius: 2px;
        height: 20;
        border:1px solid gray;
        }

